/* Положение зелёных кнопок */

#btn-1 {
    top: calc(482 / 1080 * 100%);
    left: calc(687 / 1920 * 100%);
}

#btn-2 {
    top: calc(404 / 1080 * 100%);
    left: calc(1148 / 1920 * 100%);
}

#btn-3 {
    top: calc(790 / 1080 * 100%);
    left: calc(1107 / 1920 * 100%);
}

#btn-4 {
    top: calc(669 / 1080 * 100%);
    left: calc(1306 / 1920 * 100%);
}

/* Положение синих кнопок */

#btn-5 {
    top: calc(714 / 1080 * 100%);
    left: calc(446 / 1920 * 100%);
}

#btn-6 {
    top: calc(282 / 1080 * 100%);
    left: calc(580 / 1920 * 100%);
}

#btn-7 {
    top: calc(629 / 1080 * 100%);
    left: calc(1081 / 1920 * 100%);
}

#btn-8 {
    top: calc(475 / 1080 * 100%);
    left: calc(1414 / 1920 * 100%);
}

#btn-9 {
    top: calc(225 / 1080 * 100%);
    left: calc(1373 / 1920 * 100%);
}

#btn-10 {
    top: calc(713 / 1080 * 100%);
    left: calc(1593 / 1920 * 100%);
}